<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Przepisy</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Przepisy</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Strona główna</a></li>
            <li><a th:href="@{/recipes}">Lista przepisow</a></li>
            <li class="active"><a th:href="@{/recipe/add}">Dodaj nowy przepis</a></li>
            <li><a th:href="@{/dailymenu/add}">Stwórz listę posiłków</a></li>
            <li><a th:href="@{/dailymenus}">Listy posiłków</a></li>
        </ul>
        <div class="navbar-collapse collapse">
            <form th:action="@{/logout}" method="post">
                <input class="btn" type="submit" value="Wyloguj się" />
            </form>
        </div>
    </div>
</div>
<div class="container">  
    <div class="col-xs-12 text-center">
    	<h1>Dodaj nowy przepis</h1>
    </div>
    <form id="add-recipe-form" type="submit" th:action="@{/recipe/add}" method="post"> 
    
    <div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">	
         	<hr/>
            <label for="name">Nazwa posiłku: </label>
            <input th:field="*{recipe.name}" id="name" class="form-control"/>      
    </div>
    <div class="col-xs-2"></div>
    </div>
    <br/>
    <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">	
    		<hr/>             
            <table class="table table-striped" th:if="${!recipe.ingredientIds.empty}">
                <tr>
                    <th>Id</th>
                    <th>Składnik</th>
                    <th>Ilość [g]</th>
                </tr>
                <tr th:each="ingr,status : *{recipe.ingredientIds}">
                    <td> <input hidden="hidden" th:text="${ingr.id}" th:field="*{recipe.ingredientIds[__${status.index}__].id}" />
                    <input hidden="hidden" th:field="*{recipe.ingredientIds[__${status.index}__].name}" />
                    <input hidden="hidden" th:field="*{recipe.ingredientIds[__${status.index}__].amount}" /></td>
                    <td th:text="*{recipe.ingredientIds[__${status.index}__].name}"> </td>
                    <td th:text="*{recipe.ingredientIds[__${status.index}__].amount}" >
                    </td>
                </tr>
            </table>
   </div>         
   <div class="col-xs-2"></div>
   </div>
   
   <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-1">

    </div>
    <div class="col-xs-3">
    		<div class="form-group">	   
    			<label for="ingredientIds">Składnik: </label> 
           		<select class="form-control" id="ingredientIds" th:field="*{recipe.ingredientId}">
                	<option th:each="ingredient : ${ingredients}" th:text="${ingredient.name}" th:value="${ingredient.id}" />
            	</select>
            </div>
    </div>  
    <div class="col-xs-3">	
    		<div class="form-group">
    			<label for="amount">Ilość [g]: </label>
            	<input class="form-control" id="amount" th:field="*{recipe.amount}" />
            </div>
    </div>
    <div class="col-xs-3">
    	<br/>
     	<button onclick='addIngredient()' class="btn btn-success">Dodaj składnik</button>    
    </div>  
    <div class="col-xs-1">
    </div>    			
	</div>
	
	
	<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
			<hr/>
            <label for="description">Przygotowanie: </label>
            <textarea class="form-control" th:field="*{recipe.description}" id="description" rows="20" />
	
    </div>
    <div class="col-xs-2"></div>
    </div>
    
    <div class="row">
    	<div class="col-xs-2"></div>
		<div class="col-xs-8">
		<hr/>
    		<button onclick="addRecipe()" class="btn btn-success">Dodaj przepis</button>
    	</div>
    	<div class="col-xs-2"></div>
    </div>
    <br/>
    </form>
     
</div>
<script>
    function addIngredient() {
        var url = window.location.origin;
        url += "/projekt-zespolowy-2017/recipe/ingredient/add";
        document.getElementById('add-recipe-form').action = url;
        document.getElementById('add-recipe-form').submit();
    }
	
    function addRecipe() {
        var url = window.location.origin;
        url += "/projekt-zespolowy-2017/recipe/add";
        document.getElementById('add-recipe-form').action = url;
        document.getElementById('add-recipe-from').submit();
    }
</script>
</body>
</html>