<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Przepisy</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Przepisy</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a th:href="@{/}">Strona główna</a></li>
			<li class="active"><a th:href="@{/recipes}">Lista przepisow</a></li>
			<li><a th:href="@{/recipe/add}">Dodaj nowy przepis</a></li>
			<li><a th:href="@{/dailymenu/add}">Stwórz listę posiłków</a></li>
			<li><a th:href="@{/dailymenus}">Listy posiłków</a></li>
		</ul>
		<div class="navbar-collapse collapse">
			<form th:action="@{/logout}" method="post">
				<input class="btn" type="submit" value="Wyloguj się" />
			</form>
		</div>
	</div>
</div>
	<div class="container">
		
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>Kalorie</th>
				<th>Weglowodany</th>
				<th>Błonnik</th>
				<th>Bialko</th>
				<th>Tluszcz</th>
				<th>Indeks glikemiczny</th>
			</tr>
			<tr th:each="recipe: ${recipeList}">
				<td><a th:href="@{/recipe?nr={id}(id=${recipe.id})}" th:text="${recipe.name}"></a></td>
				<td th:text="${#numbers.formatDecimal(recipe.totalCalories,1,'DEFAULT', 2, 'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(recipe.totalSugar,1,'DEFAULT', 2, 'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(recipe.totalFiber,1,'DEFAULT', 2, 'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(recipe.totalProtein,1,'DEFAULT', 2, 'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(recipe.totalFat,1,'DEFAULT', 2, 'DEFAULT')}"></td>
				<td th:text="${#numbers.formatDecimal(recipe.totalIndexg,1,'DEFAULT', 2, 'DEFAULT')}"></td>
			</tr>
		</table>


	</div>
</body>
</html>